# Virtualenvs
.venv/

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env
.env.local

# App runtime data
OUTPUT/
INPUT/
service.pid
var/
dist/
build/KajovoSpend/
.pytest_cache/
.tmp/

# IDE
.idea/
.vscode/
